.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
header {
    border: 2px solid var(--header-outline);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-width: 290px;
    border-radius: 10px;
    width: 100%;
}
h4 {
    text-transform: uppercase;
    color: var(--score-text);
    letter-spacing: 3px;
    font-size: 600;
}
.score-container {
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
    padding: 20px 40px;
}
.score-container > * {
    text-align: center;
}
h1 {
    font-weight: 700;
}
/*Desktop*/
@media screen and (min-width: 760px) {
    .container {
        width: 65vw;
    }
    h1 {
        font-size: 42px;
    }
}
/*Mobile*/
@media screen and (max-width: 759px) {
    .container {
        width: 90vw;
    }
    .logo-container > img {
        width: 100px;
    }
}
